# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build/
dist/

# production
*.log
logs/
*.pid
*.seed
*.pid.lock

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env
.env*.local
.env.production
.env.development

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma
packages/db/.env
packages/db/.env.production

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
Thumbs.db

# PM2
.pm2
